
.container{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #BCEDFF;
    clip-path: circle(400px at 50% 0);
    transform: translateY(50px);
}
a{
    margin: 20px 30px;
}






